<meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
<div class="container">
  <table class="table table-striped table-bordered">
    <thead>
      <tr>
  
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Quantity</th>
        <th scope="col">Amount</th>
        <th scope="col">Remove</th>
       
      </tr>
    </thead>
      <tbody *ngFor="let cart of carts">
        <tr>
          <td>{{cart.Name}}</td>
          <td>{{cart.Price}}</td>
          <td> {{cart.Quantity}} </td>
          <td>{{cart.Amount}}</td>
          <td (click)="delete(cart.CartId)" ><button class="btn-success">RemoveItem</button></td>
         
        </tr>
       
      </tbody>
      <tr>        
          <td><div><strong>Total {{cartTotal}}</strong></div></td>
            
  <tr>
   
    <td colspan="5"><button class="btn-success"  [routerLink]="['/home']"  routerLinkActive="router-link-active">Back to home</button></td>
    <td><button *ngIf="displayButton" class="btn-success" [routerLink]="['/order']"  routerLinkActive="router-link-active">Place Order</button>
    </td>
  </tr>
  </table>
  
  </div>
  