
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-inverse">
    <div class="container-fluid">
      <div class="navbar-header">
        <a class="navbar-brand" href="#" style="color: white;">MyShop</a>
      </div>
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li class="active"><a [routerLink]="['/cart']" routerLinkActive="router-link-active">Cart</a></li>
        <li class="active"><a [routerLink]="['/order']" >Checkout</a></li>

        <li class="active" style="color: white;" *ngIf="!Role" (click)="logout()" ><a>logout</a></li>

          </ul>
      <form class="navbar-form navbar-right" >
        <div class="form-group">
          <input type="text" class="form-control" name="search"placeholder="Search" name="search"
          [(ngModel)] = "SearchItems">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
    </div>
  </nav>


  <div class="row">
    <div *ngFor="let product of products| productFilter:SearchItems" class="col-md-3">
      <div class="card" style="width: 230px">
        <div class="card-header">
          <button ><img
              class="img-responsive" [src]="product.ProductImage" ></button>
        </div>
        <div class="card-body" style="height: 180px ; ">
            <a><span><strong>{{product.Name}}</strong>  </span></a>
          <span class="badge badge-pill danger-color">New Arrival</span>
                        <br>
              <a class="font-weight-bold blue-text"><span>&#8377; {{product.Price}} </span></a>

         
          
          <div class="card-footer" style="background-color: white">
              <a class="btn btn-success"  style="width: 100%; background-color: black; color: white" (click)="addToCart(product)" data-toggle="modal" data-target="#myModal">Add to
                  cart</a>
    
          </div> 
          
          

        </div>

      </div>
    </div>
  </div>

